<body class="app-background">
  <mat-toolbar class="navbar" color="primary">
    <div class="container-navbar">
      <img src="../../../assets/images/logoshell.png" alt="Logo The Shell" class="navbar-logo" />
      <a routerLink="/home" class="navbar-link">Inicio</a>
    </div>
  </mat-toolbar>

  <div class="container">
    <!-- Sección de Buscador y Formulario de Agregar Producto -->
    <div class="left-column">
      <!-- Buscador -->
      <div class="search">
        <form class="search-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="search-label">Buscar Producto</mat-label>
            <input matInput placeholder="Buscar..." [formControl]="name" />
          </mat-form-field>
        </form>
      </div>

      <!-- Formulario de Agregar Producto -->
      <div class="add-product">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="add-product-form">
          <input
            type="text"
            [(ngModel)]="newProducto.nombre"
            name="nombre"
            placeholder="Nombre"
            required
            class="input-field"
          />
          <input
            type="text"
            [(ngModel)]="newProducto.image"
            name="image"
            placeholder="URL Imagen"
            required
            class="input-field"
          />
          <input
            type="number"
            [(ngModel)]="newProducto.price"
            name="price"
            placeholder="Precio"
            required
            class="input-field"
          />
          <button type="submit" class="submit-btn">Agregar</button>
        </form>
      </div>
    </div>

    <!-- Sección de Productos -->
    <div class="right-column">
      <div *ngFor="let item of productos" class="card">
        <img [src]="item.image" alt="{{ item.nombre }}" class="card-image" />
        <div class="card-details">
          <p class="card-name">{{ item.nombre }}</p>
          <p class="card-price">${{ item.price }}</p>
        </div>
        <div class="card-actions">
          <button (click)="deleteProducto(item.id)" class="card-btn">Eliminar</button>
          <button (click)="updateProducto(item)" class="card-btn">Editar</button>
        </div>
      </div>
    </div>
  </div>
</body>
